/* Mobile Layout */

// For mobile devices, low resolution tablets and Ipads
html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    
    background-color: $violet;
    background-image: url("../app/img/bg-mobile.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;

    font-family: $bFamily;
    font-weight: $bNormalWeight;
    font-size: 1rem;
    color: #fff;
    text-align: center;
    line-height: 2rem;
    
    .page {
        max-width: $mobile;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $hFamily;
    font-weight: $hBoldWeight;
    font-size: 1.44rem;
}

button {
    border: none;

    font-family: $hFamily;
    font-weight: $hNormalWeight;
    text-align: center;
}

a {
    text-decoration: none;
}

/* Dekstop Layout */

// For tablets and Ipads portrait mode, laptops, dekstops and large screens
@media only screen and (min-width: 768px) {
    body {
        background-image: url("../app/img/bg-desktop.svg");
        background-size: cover;
        height: 100%;

        font-size: 1.1rem;
        line-height: 2.1rem;
        text-align: left;

        .page {
            max-width: $desktop;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 2rem;
        line-height: 3rem;
    }
}